<a href="https://colab.research.google.com/github/SaiDhanyaa/Random-variable/blob/main/Chi_square_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
import pandas as pd
import scipy.stats  as stats

In [33]:
## creation of data
data= [['athelete','smoker'] for i in range(4)] + \
 [['athelete','non-smoker'] for i in range(14)] + \
 [['non-athelete','smoker'] for i in range(10)]+ \
 [['non-athelete','non-smoker'] for i in range(0)]

In [34]:
df= pd.DataFrame(data,columns=['person','character'])

In [35]:
df

          person   character
0       athelete      smoker
1       athelete      smoker
2       athelete      smoker
3       athelete      smoker
4       athelete  non-smoker
5       athelete  non-smoker
6       athelete  non-smoker
7       athelete  non-smoker
8       athelete  non-smoker
9       athelete  non-smoker
10      athelete  non-smoker
11      athelete  non-smoker
12      athelete  non-smoker
13      athelete  non-smoker
14      athelete  non-smoker
15      athelete  non-smoker
16      athelete  non-smoker
17      athelete  non-smoker
18  non-athelete      smoker
19  non-athelete      smoker
20  non-athelete      smoker
21  non-athelete      smoker
22  non-athelete      smoker
23  non-athelete      smoker
24  non-athelete      smoker
25  non-athelete      smoker
26  non-athelete      smoker
27  non-athelete      smoker

In [43]:
#create contigency table
data_crosstab= pd.crosstab(df['person'],df['character'],margins=True, margins_name='total')

In [37]:
##significance level

alpha=0.05

In [38]:
# Calcualtion of Chisquare test statistics
chi_square=0


rows = df['person'].unique()
columns = df['character'].unique()

for i in columns:
  for j in rows:
    O = data_crosstab[i][j]
    E = data_crosstab[i]['total'] *data_crosstab['total'][j] / data_crosstab['total']['total']
    chi_square= (O-E)**2/E

In [39]:
chi_square

5.0

In [44]:
dof= (len(rows)-1) * (len(columns)-1)

In [45]:
dof

1

# **P- VALUE APPROACH**

In [41]:
## The p-value approach

print("Approach 1: The p-value approach to hypothesis testing in the decision rule")

p_value=1- stats.norm.cdf(chi_square, dof)


conclusion="Reject null hypothesis"

if p_value > alpha:
  conclusion = "Failed to reject null hypothesis"
  
print("chisquare-score is:", chi_square, " and p value is:", critical_value)

print(conclusion)

Approach 1: The p-value approach to hypothesis testing in the decision rule
chisquare-score is: 5.0  and p value is: 3.841458820694124
Reject null hypothesis

# **CRITICAL VALUE APPROACH**

In [42]:
print("Approach 2: The critical value approach to hypothesis testing in the decision rule")

critical_value= stats.chi2.ppf(1-alpha , dof)

conclusion="Reject null hypothesis"

if critical_value <= alpha:
  conclusion = "Failed to reject null hypothesis"

print("chisquare-score is:", chi_square, " and p value is:", critical_value)

print(conclusion)

Approach 2: The critical value approach to hypothesis testing in the decision rule
chisquare-score is: 5.0  and p value is: 3.841458820694124
Reject null hypothesis