<a href="https://colab.research.google.com/github/SaiDhanyaa/WORK-OUTS/blob/main/DBSCAN_Wholesale_customers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
#Import the libraries
from sklearn.cluster import DBSCAN
from sklearn.preprocessing import StandardScaler
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [15]:
# Import .csv file and convert it to a DataFrame object
wc=pd.read_csv('/content/Wholesale customers data.csv')

In [16]:
wc.head()

   Channel  Region  Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicassen
0        2       3  12669  9656     7561     214              2674        1338
1        2       3   7057  9810     9568    1762              3293        1776
2        2       3   6353  8808     7684    2405              3516        7844
3        1       3  13265  1196     4221    6404               507        1788
4        2       3  22615  5410     7198    3915              1777        5185

In [17]:
wc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440 entries, 0 to 439
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Channel           440 non-null    int64
 1   Region            440 non-null    int64
 2   Fresh             440 non-null    int64
 3   Milk              440 non-null    int64
 4   Grocery           440 non-null    int64
 5   Frozen            440 non-null    int64
 6   Detergents_Paper  440 non-null    int64
 7   Delicassen        440 non-null    int64
dtypes: int64(8)
memory usage: 27.6 KB

In [18]:
wc.drop(['Channel','Region'],axis=1,inplace=True)

In [24]:
wc.head()

   Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicassen
0  12669  9656     7561     214              2674        1338
1   7057  9810     9568    1762              3293        1776
2   6353  8808     7684    2405              3516        7844
3  13265  1196     4221    6404               507        1788
4  22615  5410     7198    3915              1777        5185

In [19]:
wc.values

array([[12669,  9656,  7561,   214,  2674,  1338],
       [ 7057,  9810,  9568,  1762,  3293,  1776],
       [ 6353,  8808,  7684,  2405,  3516,  7844],
       ...,
       [14531, 15488, 30243,   437, 14841,  1867],
       [10290,  1981,  2232,  1038,   168,  2125],
       [ 2787,  1698,  2510,    65,   477,    52]])

In [20]:
array=wc.values
array

array([[12669,  9656,  7561,   214,  2674,  1338],
       [ 7057,  9810,  9568,  1762,  3293,  1776],
       [ 6353,  8808,  7684,  2405,  3516,  7844],
       ...,
       [14531, 15488, 30243,   437, 14841,  1867],
       [10290,  1981,  2232,  1038,   168,  2125],
       [ 2787,  1698,  2510,    65,   477,    52]])

In [21]:
scaled=StandardScaler().fit_transform(array)
scaled

array([[ 0.05293319,  0.52356777, -0.04111489, -0.58936716, -0.04356873,
        -0.06633906],
       [-0.39130197,  0.54445767,  0.17031835, -0.27013618,  0.08640684,
         0.08915105],
       [-0.44702926,  0.40853771, -0.0281571 , -0.13753572,  0.13323164,
         2.24329255],
       ...,
       [ 0.20032554,  1.31467078,  2.34838631, -0.54337975,  2.51121768,
         0.12145607],
       [-0.13538389, -0.51753572, -0.60251388, -0.41944059, -0.56977032,
         0.21304614],
       [-0.72930698, -0.5559243 , -0.57322717, -0.62009417, -0.50488752,
        -0.52286938]])

In [27]:
## since we have 6 columns, we must take min valu >= 6+1  i.e min >=7
dbscan=DBSCAN(eps=0.8, min_samples=7)

In [28]:
####apply bdscan algorithm on the scaled data set
dbscan.fit(scaled)

DBSCAN(algorithm='auto', eps=0.8, leaf_size=30, metric='euclidean',
       metric_params=None, min_samples=7, n_jobs=None, p=None)

In [ ]:
###the outliers(noises) are given thhe label -1
dbscan.labels_

In [ ]:
####these -1 are the outliers.. remainin 0 belong to one clustter

In [ ]:
cluster1=pd.DataFrame(dbscan.labels_,columns=['cluster'])
cluster1

In [31]:
wc['cluster']=cluster1

In [ ]:
wc

# ***there are more no. of outliers, so we can increase the epsilon value to 1***

In [35]:
dbscan=DBSCAN(eps=1, min_samples=7)

In [36]:
dbscan.fit(scaled)

DBSCAN(algorithm='auto', eps=1, leaf_size=30, metric='euclidean',
       metric_params=None, min_samples=7, n_jobs=None, p=None)

In [ ]:
dbscan.labels_

In [40]:
cluster2=pd.DataFrame(dbscan.labels_, columns=['cluster'])
cluster2

     cluster
0          0
1          0
2         -1
3          0
4          0
..       ...
435       -1
436        0
437       -1
438        0
439        0

[440 rows x 1 columns]

In [41]:
wc['cluster']=cluster2

In [ ]:
wc

# ***HERE THE DBSCAN IS UNABLE TO FIND THE CLUSTERS, BECAUSE IT IS GIVING ONLY ONE CLUSTER. AS THE DATAPOINTS ARE VERY NEARBY.***

# **SO THAT WE CAN GO FOR THE KMEANS FOR THE CLUSTERING **